.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.bg-logo {
  background: url('/static/css2/hinh1.jpg'); /* Đường dẫn cố định */
  background-size: cover;
  height: 300px;
}
